In [1]:
import numpy as np
import pandas as pd
import datetime

DATA FRAMES

In [13]:
students= ['Alice', 'Bob', 'Emily', 'Charlie']

In [3]:
scores = [90, 80, 65, 50]

In [14]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [15]:
exam_results

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

Searching (SQL SELECT)

In [16]:
exam_results.loc[0, 'scores']

90

In [17]:
exam_results.loc[:, 'scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [18]:
exam_results.loc[2,:]

name      Emily
scores       65
Name: 2, dtype: object

In [20]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [22]:
exam_results[['name','scores']]

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

Add Columns

We can also easily add columns

In [23]:
gender = ['female', 'male', 'female', 'male']

In [24]:
exam_results['gender'] = gender

In [25]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [26]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

REMOVE COLUMNS

In [27]:
exam_results.drop('name', axis=1)

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

COLUMN NAMES AND ROW INDEX

In [28]:
exam_results.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [29]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

RENAMING COLUMNS

In [30]:
exam_results.rename({'name': 'first_name'}, axis=1)

  first_name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male

DEALING WITH MISSING VALUES

In [31]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [32]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [34]:
sparse.isna()# np.nun values= True and others=False

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [35]:
sparse.fillna(0)#fill those nan values with 0

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [36]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

GROUP BY

In [37]:
exam_results.groupby('gender').mean()

        scores
gender
female    77.5
male      65.0

In [38]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    name  scores  gender
0  Alice      90  female
2  Emily      65  female

In [39]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(2)

      name  scores gender
1      Bob      80   male
3  Charlie      50   male

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [40]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

THIS WILL COMPUTE THE MEAN SCORES OF STUDENTS WHO SCORED ABOVE OR BELOW 70

In [41]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

MERGE AND JOINING

In [43]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [44]:
exam_results.merge(contacts, left_on='name', right_on='name') #defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [45]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564